<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} – WYMeditor</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/styles/screen.css" />
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="/favicon.png" type="image/png" />
    </head>
    <body>
        <header>
            <h1><a href="/">WYMeditor – An open source WYSIWYM editor focusing on standards and semantics</a></h1>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><strong><a href="https://github.com/wymeditor/wymeditor/downloads">Download</a></strong></li>
                    <li><a href="/demo/">Editor Demo</a></li>
                    <li><a href="/getting-help/">Getting Help</a></li>
                    <li><a href="/contributing/">Contributing</a></li>
                    <li><a href="/team/">The Team</a></li>
                    <li><a href="/about/">About</a></li>
                    <li id="github"><a href="https://github.com/wymeditor/wymeditor">Fork us on <strong>GitHub</strong></a></li>
                </ul>
            </nav>
        </aside>
        <article>
            {{ page.content }}
        </article>
    </body>
</html>