<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} – WYMeditor</title>
        <link rel="stylesheet" href="/styles/screen.css" />
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="/favicon.png" type="image/png" />
    </head>
    <body>
        <header>
            <h1><a href="/">WYMeditor – An open source WYSIWYM editor focusing on standards and semantics</a></h1>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><strong><a href="/download.html">Download</a></strong></li>
                    <li><a href="/demo.html">The Demo</a></li>
                    <li><a href="/getting-help.html">Getting Help</a></li>
                    <li><a href="/contributig.html">Contributing</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li id="github"><a href="https://github.com/wymeditor/wymeditor">Fork us on <strong>GitHub</strong></a></li>
                </ul>
            </nav>
        </aside>
        <article>
            {{ page.content }}
        </article>
    </body>
</html>