<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }} – WYMeditor</title>
        <link rel="stylesheet" href="/styles/screen.css" />
    </head>
    <body>
        <header>
            <h1>WYMeditor – An open source WYSIWYM editor focusing on standards and semantics</h1>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><strong><a href="/download">Download</a></strong></li>
                    <li><a href="/demo">The Demo</a></li>
                    <li><a href="/getting-help">Getting Help</a></li>
                    <li><a href="/contribute">Contribute</a></li>
                    <li><a href="/about">About</a></li>
                    <li id="github"><a href="https://github.com/wymeditor/wymeditor">Fork us on <strong>GitHub</strong></a></li>
                </ul>
            </nav>
        </aside>
        <article>
            {{ page.content }}
        </article>
    </body>
</html>