html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a { text-decoration: none; }

a img { border: 0; }

figure { position: relative; }
figure img {width: 100%;}

ul, ol, dl { margin-left: 2em; }


/*  Typography presets
    ------------------ */

body {
    font: 14px/24px Helvetica, Arial, sans-serif;
    color: #333;
}
h1, h2 {
    font-size: 26px;
    line-height: 36px;
}
h3 {
    font-size: 16px;
    line-height: 24px;
}
p {
    margin-bottom: 24px;
}
a { 
    color: #444;
}
a:hover { 
    color: #111;
    text-decoration: underline;
}
p a { 
    font-weight: bold;
    text-decoration: underline;
}
abbr {
    display: inline-block;
    border-bottom: 1px dashed;
    line-height: 1.1;
    margin-bottom: -1px;
    cursor: help;
}
/*  Layout 
    ------------------ */
body {
    width: 640px;
    margin: 60px auto;
    overflow-x: hidden;
}
header {
    text-indent: -9999em;
    background: url(../images/header.png) left top no-repeat;
    height: 90px;
}
aside {
    float: right;
    width: 180px;
}
article {
    width: 460px;
}
nav ul li {
    list-style-type: none;
}
nav ul li strong a { 
    text-decoration: underline;
}
nav ul li a {
    display: inline-block;
    padding: 0 24px;
    margin: 0 -24px;
}
nav ul li:before { 
    content: "→ ";
}

/*  Fancy BG-gradient 
    ------------------ */
body {
    background: #eee no-repeat;
    background-image: -webkit-gradient(radial,
                    center 70, 0,
                    center 70, 400,
                    color-stop(0, #fff),
                    color-stop(1, #eee));
    background-image: -moz-radial-gradient(center 70px, farthest-side, #fff, #eee);
}


/*  Buttons and banners 
    ------------------ */
a.call, #github a { 
    display: block;
    background-color: #444;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
}
a.call:hover, #github a:hover { 
    background-color: #333;
}
a.call {
    display: inline-block;
    padding: 8px 18px;
    margin-top: 24px;
}
#github {
    position: absolute;
    top: 40px;
    right: -65px;
    height: 30px;
    width: 250px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#github a {
    left: 0;
    padding: 5px 0;
    margin: 0;
    position: absolute;
    width: 250px;
}
#github:before { content: ""; }